.logo2 {
  width: 16em;
  height: 10em;
}

.link-style1 {
  font-size: 20px;
  margin-left: 32em;
  color: white;
}

.link-style {
  font-size: 20px;
  margin-left: 10px;
  color: white;
}

.button-add {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: black;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-left: 14em;
}

.input-style,
.input-style2 {
  width: 15em;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 10px;
}

.title-style {
  font-size: 30px;
  margin-top: 10px;
}

.button-text {
  font-size: 20px;
  margin-top: 15px;
}

.button-container {
  float: right;
}

.input-container,
.text-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35em;
  
}

.container{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.content-background{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cdcece4f;
  margin-top: 50px;
  padding: 0;
  height: 28em;
  border-radius: 15px;
}

.button {
  margin-top: 10px;
  margin-right: -10em;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}