.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 900px;
  }
  
  .login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-container input {
    width: 90%;
    padding: 10px;
    margin: 5px 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
  }
  
  .login-container button {
    width: 93%;
    padding: 10px;
    margin: 5px 5px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s; /* Adicione uma transição de cor para suavizar a mudança de cor */
  }
  
  .login-container button.clicked {
    background-color: gray; /* Cor quando o botão é clicado */
  }
  .Login-logo {
    width: 10%;
    display: block; 
    margin-bottom: 20px;
  }
  .Login-link {
    color: #fff;
    text-decoration: none;
  }