.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .home-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 900px;
  }
  
  .home-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
 